.imgthumb {
  width: 200px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.castcard {
  text-align: center;
}

.castList {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(108, 108, 108, 0.5);
}

.castna {
  display: flex;
  font-size: 18px;
  background-color: rgba(108, 108, 108, 0.5);
  width: 280px;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
