.reviewlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.reviewitem {
  width: 300px;
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
  border: solid 1px #0c0b0b;
  border-radius: 10px;
  background-color: rgba(108, 108, 108, 0.5);
}

.reviewitem::-webkit-scrollbar {
  width: 0.5em;
}

.reviewitem::-webkit-scrollbar-thumb {
  background-color: rgba(108, 108, 108, 0.5);
}

.reviewitem::-webkit-scrollbar-track {
  background-color: transparent;
}

.reviewavailable {
  display: flex;
  font-size: 20px;
  background-color: rgba(108, 108, 108, 0.5);
  border-radius: 3px;
  width: 280px;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.author {
  color: #313131;
}
