.flexmenu {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: fixed;
  height: 100px;
  align-items: center;
  /* background-color: rgba(0, 0, 255, 0.3); */
  /* background-color: rgba(250, 189, 22, 0.842); */
  background-color: rgba(52, 52, 52, 0.9);
  top: 0;
  width: 100%;
}

.linkmenu {
  font-size: 38px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}

.linkmenu p {
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 15px;
  align-items: center;
  margin: 0;
}